@import 'animations.scss';

@font-face {
  font-family: Lora;
  font-display: swap;
  src: url('../assets/lora.woff2') format('woff2');
}

body {
  color: #222;
  font-family: 'Lora', -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  font-size: 1em;
  text-align: center;
}

.monkey {
  margin: 64px auto;
  max-width: 100px;
  svg {
    color: hotpink;
    width: 100%;
  }
}
